<div class="driver-container">
  <h3>Drivers info</h3>
  <table class="table table-hover table-bordered tbl-driver ">
    <thead class='thead-light'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Vin #</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= driver.id%></td>
          <td><%= driver.name%></td>
          <td><%= driver.vin %></td>
          <td><%= (driver.available) ? 'Available!' : 'Unavailable'%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>