
<h1>Drivers info</h1>
<table class='table'>
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Vin #</th>
    <th>Availability</th>
  </tr>
</thead>
  <tbody>
    <% @drivers.each do |driver| %>
    <tr>
      <td><%= driver.id%></td>
      <td><%= driver.name%></td>
      <td><%= driver.vin %></td>
      <td><%= (driver.available) ? 'YES!' : 'No'%></td>
    </tr>
    <%end%>
  </tbody>
</table>